<h1>Listing representations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

<% @representations.each do |representation| %>
  <tr>
    <td><%=h representation.name %></td>
    <td>
      <% if representation.description.nil? %>
        <em>-</em>
      <% else %>
        <%=h representation.description %>
      <% end %>
    </td>
    <td><%= link_to 'Show', representation %></td>
    <td><%= link_to 'Edit', edit_representation_path(representation) %></td>
    <td><%= link_to 'Destroy', representation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New representation', new_representation_path %>