<p>
  <b>Name:</b>
  <%=h @representation.name %>
</p>

<p>
  <b>Model:</b>
  <%=link_to h(@representation.model.name), @representation.model %>
</p>

<p>
  <b>Description:</b>
  <%=h @representation.description %>
</p>

<%= link_to 'Edit', edit_representation_path(@representation) %> |
<%= link_to 'Back', representations_path %>