<% title "Creating new fact in "+@deck.name %>

<% form_for(@fact) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :primary_field_id %><br />
    <%= f.collection_select :primary_field_id, @deck.model.representations, :id, :name %>
    <%= f.hidden_field :deck_id %>
  </p>
  <% for field in @fact.fields %>
    <% fields_for 'fact[field_attributes][]', field do |field_form| %>
      <p>
        <%= field_form.label field.representation.name %><br />
        <%= field_form.text_field :value %>
        <%= field_form.hidden_field :representation_id %>
      </p>
    <% end %>
  <% end %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', facts_path %>
