<p>
  <b>Name:</b>
  <%=h @fact.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @fact.description %>
</p>


<%= link_to 'Edit', edit_fact_path(@fact) %> |
<%= link_to 'Back', facts_path %>

<% if @fact %>
  <% if @fact.fields %>
    <h2>Fields</h2>
    <div id='fields'>
      <%= render :partial => @fact.fields %>
    </div>
  <% end %>
  <% form_for [@fact, Field.new] do |f| %>
    <p>
      <%= f.label :title, "New Field" %> <br />
      <%= f.text_field :title %>
    </p>
    <p><%= f.submit "Add Field" %></p>
  <% end %>
<% end %>