<% title "Showing deck "+@deck.name %>

<p>
  <b>Name:</b>
  <%=h @deck.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @deck.description %>
</p>

<% if @deck.facts %>
  <h2> Facts </h2>
  <div id='facts'>
    <%= render :partial => @deck.facts %>
  </div>
<% end %>

<%= link_to 'Add fact', new_fact_path()+'/'+@deck.id.to_s %> |
<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
