<p>
  <b>Name:</b>
  <%=h @deck.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @deck.description %>
</p>


<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>

<% if @deck %>
  <% if @deck.facts %>
    <h2> Facts </h2>
    <div id='facts'>
      <%= render :partial => @deck.facts %>
    </div>
  <% end %>
  <% form_for [@deck, Fact.new] do |f| %>
    <p>
      <%= f.label :title, "New Fact" %> <br />
      <%= f.text_field :title %>
    </p>
    <p><%= f.submit "Add Fact" %></p>
  <% end %>
<% end %>