<p>
  <b>Name:</b>
  <%=h @deck.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @deck.description %>
</p>


<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>

<% if @deck.facts %>
  <h2> Facts </h2>
  <div id='facts'>
    <%= render :partial => 'facts/fact' %>
  </div>
<% end %>